.homeScreen{
    height:auto;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* *******************************************************************************body************************************************ */
.book_container{
    position: relative;
    top: 140px;
    height: auto;
    width:100%;
    border: 1px solid red;
    display: flex; 
    justify-content: center
}

.leftbar{
    position: relative;
    width: 270px;
}

.book_content{
    width: 850px;
    float: right;
    border-left: 0.1px solid rgb(195, 195, 195);
    display: block;
    /* justify-content: center; */
    padding: 20px;
    
}

.book_banner{
    margin-top: 5px;
    height:300px;
    /* border: 1px solid red; */
    width: 100%;
}

.book_mains{
    margin-top: 15px;
    height:auto;
    /* border: 1px solid red; */
    width: 100%;
}

.author{
    height:400px;
    border-bottom: 1px solid rgb(165, 161, 161);
    width: 100%; 
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.heading{
   
    height: 5%;
    /* border: 1px solid rgb(0, 0, 0); */
    width: 100%;
   display: flex;

   align-items: center;

}

.HBox{
    display: flex;
    width: 40%;
    /* border: 1px solid red; */
    cursor: pointer;
    align-items: center;
    /* justify-content:center */
}

.h1{
    border-right: 2px solid #7d7d7d;
    font-weight: bold ;
    display: flex;
    justify-content: center;
    width: 30%;
    color: #bc3232;
    
}

.h2{
    border-right: 2px solid #7d7d7d;
    font-weight: bold ;
    width: 40%;
    display: flex;
    justify-content: center;
    color: #7d7d7d;
}
.h2:hover{
    color: #bc3232;
}

.h3{
    font-weight: bold ;
    width: 30%;
    display: flex;
    justify-content: center;
    color: #7d7d7d;
}

.h3:hover{
    color: #bc3232;
}

.SM{
    position: relative;
    left: 50%;
    color: #08d;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
}

 .AC{
    height: 280px;
    width: 95%;
    /* display: flex; */
    /* border: 1px solid #000000; */
    position: relative;
    
} 





/* Bestseller div */
.Bestseller{
    height:400px;
    border-bottom: 0.1px solid rgb(165, 161, 161);
    width: 100%; 
    /* border: 1px solid red; */
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column
}

.HB{
    display: flex;
    
    width: 70%;
    /* border: 1px solid red; */
    cursor: pointer;
    align-items: center;
}

.NTB{
    border-right: 2px solid #7d7d7d;
    font-weight: bold ;
    display: flex;
    justify-content: center;
    width: 40%;
    color: #bc3232;
}

.AW{
    border-right: 2px solid #7d7d7d;
    font-weight: bold ;
    width: 30%;
    display: flex;
    justify-content: center;
    color: #7d7d7d;
    
}
.AW:hover{
    color: #bc3232;
}

.SP{
    font-weight: bold ;
    width: 20%;
    display: flex;
    justify-content: center;
    color: #7d7d7d;
}

.SP:hover{
    color: #bc3232;
}
.SM1{
    position: relative;
    left: 20%;
    color: #08d;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
}


/*  boxset div */
.BoxSet{
    height:400px;
    border-bottom: 0.1px solid rgb(165, 161, 161);
    width: 100%; 
    /* border: 1px solid red; */
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column
}
.Bheading{
    font-weight: bold ;
    width: 30%;
    display: flex;
    justify-content: center;
    color: #bc3232;
}



/* author box */
.Author{
    height:400px;
    
    width: 100%; 
    /* border: 1px solid red; */
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column
}

.Aheading{
    font-weight: bold ;
    width: 50%;
    display: flex;
    justify-content: center;
    color: #bc3232;
}


/* *******************************************************************************footer************************************************ */
.footer{
    position: relative;
    top: 140px;
    height: 360px;
    width: 100%;
    /* border: 3px solid rgb(255, 0, 0) */
}




