/* header component */

.header {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* background-color:black; */
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  /* border: 1px solid blue; */
  z-index: 10;
}
.upperHeader {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #bc3232;
}
.logo {
  position: relative;
  left: 300px;
  height: 80px;
  width: 90px;
}
.search {
  position: relative;
  left: 250px;
  height: 25px;
  width: 25%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px #ccc;
}
.search input {
  height: auto;
  width: auto;
  font-size: small;
  color: gray;
  width: 80%;
  border: none;
  outline: none;
}

.search img {
  cursor: pointer;
}

.login {
  position: relative;
  left: 230px;
  height: 30px;
  /* background-color: #f5f5f5; */
  width: 130px;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  border-radius: 5px;
  flex-direction: column;
}
.Login{
  position :absolute;
  width: 40%;
  height: 70%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  border-right: 0.1px solid #c8c8c8;
}

.signup{
  position :absolute;
  width: 40%;
  height: 70%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 12px;
  /* border-right: 0.1px solid #c8c8c8; */
  left: 40%;
  cursor: pointer;
}

.login img{
  height: 100%;
  width: 100%;
  /* position: relative; */
  /* top: -1px; */

}



.cart{
  position: relative;
  height: 30px;
  /* background-color: rgb(235, 228, 228); */
  width: auto;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-radius: 5px;
  flex-direction: column;
}

.cart div {
  position: absolute;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* font-size: 15px; */
  font-weight: normal;
  left: 1px;
  top: -2px;
  color: white;
  cursor: pointer;
}

.cart img{
height: 100%;
cursor: pointer;
} 


.bottomHeader {
  height: 40px;
  width: 100%;
  background: rgb(22, 22, 22);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottomHeaderNav{
  height: 100%;
  width: auto;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
}

.bottomHeaderNav div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  height: 100%;
  color:white;
  font-weight: bold;
  border-right: 1px solid rgb(68, 68, 68);
  /* border: 1px solid red; */
  cursor: pointer;
}

.homeimg {
  border: none !important;
  background: rgb(68, 68, 68) !important;
  cursor: pointer;
}
.currency{
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.currency p{
    margin: 0px;
    font-size:15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.currency select{
    /* color: red; */
    border-radius: 5px;
    background-color:#bb2323;
    color:white;
    outline:none;
    border:none;
    cursor: pointer;
}
